:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --white-color: #fff;
  --light-black-color: #333;
  --light-gray-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}
